{{ form_errors(form) }}

{% form_theme form '@OmniSyliusBannerPlugin/Form/imagesTheme.html.twig' %}

<div class="ui stackable grid">
    <div class="three wide column">
        {{ form_row(form.enabled) }}
        {{ form_row(form.publishFrom) }}
        {{ form_row(form.publishTo) }}
    </div>
    <div class="thirteen wide column">
        {{ form_row(form.code) }}
        {{ form_row(form.position) }}

        <div class="ui upload box segment">
            {{ form_row(form.images) }}
        </div>
    </div>
</div>
