{% set useContainer = options.full_screen is defined and options.full_screen == false %}

{% if banners|length > 0 %}
    {% set banner = banners|first %}

    {% if banner.hasChannelCode(options.channel) and banner.images|length %}
        {% set image = banner.images|first %}

        {% if options.use_container is defined and options.use_container %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
        {% endif %}

        <div class="banner-line {% if options.use_container is defined and options.use_container %}negative-margin{% endif %}" style="background-color: {{ image.contentBackground }};">

            {% if image.translation.link is not null %}<a href="{{ image.translation.link }}">{% endif %}
                {{ image.translation.content|raw }}
            {% if image.translation.link is not null %}</a>{% endif %}
        </div>

        {% if options.use_container is defined and  options.use_container %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
