{% set useContainer = options.full_screen is defined and options.full_screen == false %}

{% if banners|length %}
    {% set banner = banners|first %}

    {% if banner.hasChannelCode(options['channel']) and banner.images|length %}
        {% set image = banner.images.toArray[random(banner.images|length - 1)] %}
        <div class="col-xs-12">
            <div class="banner">
                <a class="banner-link" href="{{ image.translation.link|default('javascript:;') }}">
                    <img class="banner-image" src="{{ image.path|imagine_filter('omni_sylius_banner') }}" alt="-">

                    <div class="banner-caption caption--{{ image.contentPosition }}"
                         style="{% if image.contentSpace %}width: {{ image.contentSpace|number_format }}%{% endif %} background-color: {{ image.contentBackground }};"
                    >
                        {{ image.content|raw }}
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
{% endif %}
