{% import '@SyliusAdmin/Macro/breadcrumb.html.twig' as breadcrumb %}

{% set breadcrumbs = configuration.vars.breadcrumbs|default([]) %}
{% set processed_bredcrumbs = [] %}

{% for breadcrumb_config in breadcrumbs %}
    {% set current_breadcrumb = { label: breadcrumb_config.label|trans } %}

    {% if breadcrumb_config.route is defined %}
        {% set should_fallback = false %}

        {% if breadcrumb_config.required_params is defined %}
            {% for required in breadcrumb_config.required_params %}
                {% if breadcrumb_config.params[required] is not defined or breadcrumb_config.params[required] is empty %}
                    {% set should_fallback = true %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if should_fallback  %}
            {% set current_breadcrumb = current_breadcrumb|merge({ url: path(breadcrumb_config.fallback_route, breadcrumb_config.params|default([])) }) %}
        {% else %}
            {% set current_breadcrumb = current_breadcrumb|merge({ url: path(breadcrumb_config.route, breadcrumb_config.params|default([])) }) %}
        {% endif %}
    {% endif %}

    {% set processed_bredcrumbs = processed_bredcrumbs|merge([current_breadcrumb]) %}
{% endfor %}

{{ breadcrumb.crumble(processed_bredcrumbs) }}
