{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% set header = configuration.vars.header|default('omni_sylius.ui.banners_from_zone') %}

{% set header = header|trans({'%zone%': app.request.get('zone')}) %}

{% if app.request.get('position') is not null %}
    {% set header = header ~ ' ' ~'omni_sylius.ui.and_position'|trans({'%position%': app.request.get('position')}) %}
{% endif %}

{{ headers.default(header|trans, configuration.vars.icon|default('list'), configuration.vars.subheader|default(null)|trans) }}
