

{% if options.image is defined and options.image is not null %}
    {% set image = banner.getImagesByType(options.image)[0] %}
{% else %}
    {% set image = banner.image %}
{% endif %}

{%- if image is defined and image.path -%}
    {% set path = image.path|imagine_filter('omni_sylius_banner') %}
{%- else -%}
    {% set path = 'https://placehold.it/' ~ banner.position.width ~ 'x' ~ banner.position.height %}
{%- endif -%}

{% block banner %}
    {% if image is defined and image.link is not null %}
        {% block banner_link_start %}
            <a href="{{ image.link }}">
        {% endblock %}
    {% endif %}
    {% block image %}
        <img src="{{ path }}">
    {% endblock %}
    {% if image is defined and image.link is not null %}
        {% block banner_link_end %}
            </a>
        {% endblock %}
    {% endif %}
{% endblock %}
